:root {
    //*===COLIRS
    --blue:#0044F8;
    --white:#FFFFFF;
    --light-black: #161618;
    --black: #080809;


    //*===SIZES
    --primary-padding:0vw 14vw;
    --medium-screen-padding:0vw 7vw;
    --small-screen-padding:0vw 4vw;
}

$medium-screen:1024px;
$small-screen:768px;